.galleryContainer{
    position: relative;
    width: 100%;
    height: 1000px;

    .image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}